<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <!-- External Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"
      integrity="sha256-Ybs8XdFCLfrdxwPk1rFPS6+ZoShn0uppP6CwZBSJKYk="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="game"></div>
  </body>
</html>
