<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script
      src="https://cdn.jsdelivr.net/npm/phaser@3.24.1/dist/phaser.min.js"
      integrity="sha256-Ybs8XdFCLfrdxwPk1rFPS6+ZoShn0uppP6CwZBSJKYk="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="game"></div>
  </body>
</html>
